<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FabFemSkin</title>
     
 <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">
​
<link type="text/css" rel="stylesheet" href="/assets/style.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js" defer></script>

</head>

<body>
    <div class="card-panel purple accent-1">
        <nav class="purple accent-1">
            <ul class="left hide-on-med-and-down">
                <li>
                    <a class="navbar-brand" href="/">Home</a>
                </li>
                <li>
                    <a href="/routines">Routines</a>
                </li>

            </ul>
        </nav>
    </div>
    <div class="bg-image"></div>
    <div class="main-content">
   {{{body}}}
   </div>

</body>

</html>