<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skin Care Routines</title>
     
 <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">
​
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js" defer></script>

</head>

<body>

    <div class="card-panel purple accent-1">
        <nav class="purple accent-1">
            <ul class="left hide-on-med-and-down">
                {{!-- <li>
                    <a class="navbar-brand" href="/">Skin Care Routines</a>
                </li> --}}
                <li>
                    <a href="sass.html">Proper Makeup Removal</a>
                </li>
                <li>
                    <a href="badges.html">Cleansing</a>
                </li>
                <li class="active">
                        <a href="collapsible.html">After Cleanse Treatment</a>
                </li>
            </ul>
        </nav>
    </div>
    {{{body}}}

</body>
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>

{{!-- <body>

    <div>
        <a class="navbar-brand" href="/">Skin Care Routines</a>
        <nav>
            <div class="nav-wrapper">
                <ul class="left hide-on-med-and-down">
                    <li>
                        <a href="sass.html">Proper Makeup Removal</a>
                    </li>
                    <li>
                        <a href="badges.html">Cleansing</a>
                    </li>
                    <li class="active">
                        <a href="collapsible.html">Treatment</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    {{{body}}}

</body> --}}
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>