{{!-- welcome landing page render --}}
<h1 class = "center purple-text">Fab Nightly Skincare Routine:</h1>


{{!-- <h2>{{routines.length}} routines</h2> --}}
{{#each routines as |routine index|}}
    <h3>
    <a class ="purple-text" href="/routines/{{routine.title}}">{{routine.title}}</a>
    </h3>
{{/each}}

<h5 class ="white-text">Create New Routine</h5>
<form action="/routines" method="post">
  <input type="text" class="purple-text" name="routine[title]" placeholder="Title">
  <input type="text" class="purple-text" name="routine[products]" placeholder="Products">
  <input type="text" class="purple-text" name="routine[duration]" placeholder="Duration">
  <input type="text" class="purple-text" name="routine[directions]" placeholder="Directions">
  <input type="submit" value="Submit New Routine">
</form>