body {
    background-image: url('/assets/images/stockPhoto2.jpg');
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}
/* .bg-image {
    height: 600px;
    width: 800px;
    background: url('/assets/images/stockPhoto2.jpg');
} */
.card-panel {
    margin: 0;
}

nav {
    margin: -20px, 0, 0, 5px;
}

input[type=text] {
    color: white;
    text-shadow: 2px 2px 2px white;
    font-size: 50px;
}

.main-content {
    padding: 0 5%;
    text-shadow: 2px 2px 5px white;
    font-weight: 900;
    background-color: 255, 255, 255, .5;
 }
 
 form {
    background-color: rgba(0, 0, 0, .3) !important;
    /* color: black !important; */
    margin: 0 10%;
    padding: 0 5%;
    
 }

 h5 {
    text-shadow: 2px 2px 5px #9c27b0;
 }

 .bg-image {
     background: linear-gradient(transparent)
 }

 .deleteButton {
    border: none;

 }

 .deleteForm {
     background: transparent;
 }